---
import FormattedDate from './FormattedDate.astro';
interface Props {
  url: string;
  title: string;
  pubDate: Date;
  description: string;
  updateDate: Date | undefined;
}

const { url, title, pubDate, updateDate, description } = Astro.props;
---

<li class="post-list-item">
  <a class="black" href={url}>
    {title}
  </a>
  <p class="f-minor description">{description}</p>
  <span class="small f-minor">提交与<FormattedDate date={pubDate}/></span>
  {
    updateDate && <span class="small secondary-font">&更新与<FormattedDate date={updateDate}/></span> 
  }
</li> 

<style>
  li {
    list-style: none;
    margin-bottom: 2rem;
    .post {
      margin: 1.5rem 0rem;
      padding: 0.5rem;
    }
    a {
      font-weight: normal;
      font-size: 2.75rem;
      letter-spacing: 0.1em;
    }
  }
  .small {
    font-size: small;
    margin-right: 1rem;
    letter-spacing: 0.1em;
  }
  .description {
    margin-block-start: 0.3rem;
    margin-block-end: 0.1rem;
    font-size: 1.2rem;
  }
</style>
